@import "/src/styles/global.scss";

.works-details {
  .header {
    position: fixed;
    top: 1vw;
    left: 2vw;
    z-index: 10;

    &__link {
      font-weight: normal;
      font-size: 1.3vw;
      transition: color 0.4s ease;

        @include hover {
          color: $g-70;
        }
    }
  }
}